$background: #0E2132;
$light-green: #bcb868;
$dark-green: #8f8938;
$pink: #E87B7E;

$adelle: "adelle-condensed", "Adelle Condensed", sans-serif;
$proxima: "proxima-nova-alt-condensed", "Proxima Nova Condensed", sans-serif;

html {
    font-size: 20px;
    @media (max-width: 1200px) {
        font-size: 18px;
    }
    @media (max-width: 1080px) {
        font-size: 16px;
    }
    @media (max-width: 960px) {
        font-size: 20px;
    }
    @media (max-width: 800px) {
        font-size: 18px;
    }
    @media (max-width: 740px) {
        font-size: 16px;
    }
    @media (max-width: 640px) {
        font-size: 20px;
    }
    @media (max-width: 400px) {
        font-size: 18px;
    }
    @media (max-width: 360px) {
        font-size: 16px;
    }
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: $proxima;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    font-weight: 800;
    font-size: 3rem;
    padding: 0 2rem;
    @media (max-width: 960px) {
        font-size: 2rem;
    }
}

.cards {
    text-align: center;
}

.card {
    display: inline-block;
    position: relative;
    margin: 0 1rem;
    padding: 0;
    width: 18rem;
    height: 17rem;
    overflow: hidden;
    text-align: left;

    figure {
        position: relative;
        margin: 0;
        width: 100%;
        height: 12rem;
        overflow: hidden;

        img {
            width: 100%;
        }

        figcaption {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 1rem 0.5rem 0 0.5rem;
            color: white;
            font-family: $adelle;
            font-weight: 300;
            font-size: 1.75rem;
            text-shadow: 0 0 1rem black;
            text-transform: uppercase;
            background: linear-gradient(rgba(black, 0), rgba(black, 0.4));
        }
    }

    p {
        padding: 0 0.5rem;
        font-size: 1rem;
        position: absolute;
    }
}
