$brown: #c9c399;
$green: #d0d97a;
$mint: #badfbe;

body {
    font-family: "proxima-nova", "Proxima Nova", sans-serif;
    @media (max-width: 600px) {
    	font-size: 14px;
    }
    @media (max-width: 400px) {
    	font-size: 12px;
    }
    font-weight: 400;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

nav {
	margin: 2rem 0;
	.lang-link a {
		display: block;
		position: absolute;
		top: 6.6rem;
		right: 1rem;
		z-index: 10;
		color: inherit;
		text-decoration: none;
		border: 2px solid black;
		border-radius: 50%;
		font-size: 12px;
		font-weight: 700;
		padding: 6px 6px 5px 5px;
		background: $green;
		transition: right 0.5s;
		&:active, &:hover, &:focus {
			background: black;
			color: $mint;
		}
		@media (max-width: 600px) {
			border-width: 1.5px;
			top: 5.65rem;
			font-size: 8px;
			font-weight: 600;
			padding: 4px 4px 3.5px 3.5px;
		}
		@media (max-width: 400px) {
			top: 1rem;
			padding: 0;
			font-size: 12px;
			font-weight: 400;
			background: none;
			border: none;
		}
	}
	.mobile-menu {
		display: none;
		transition: left 0.5s;
		@media (max-width: 400px) {
			display: block;
			position: absolute;
			top: 1rem;
			left: 1rem;
			a {
				text-decoration: none;
				color: inherit;
			}
		}
	}
	ul {
		list-style-type: none;
		text-align: center;
		padding: 0;
	}
    li {
        display: inline-block;
        margin: 0 1rem;
        text-transform: uppercase;
        &.active {
        	color: $green;
        	font-weight: 800;
        }
        a {
        	color: inherit;
        	text-decoration: none;
        	&:active, &:hover, &:focus {
				color: $green;
			}
        }
    }
    @media (max-width: 400px) {
    	ul {
    		transition: left 0.5s;
    		display: block;
    		position: fixed;
    		top: 0;
    		left: -10rem;
    		text-align: right;
    		height: 100%;
    		width: 10rem;
    		margin: 0;
    		padding: 1.2rem 2rem 0 0;
    		box-sizing: border-box;
    		background: $brown;
    		border-right: 1.5px solid black;
    		z-index: 20;
    	}
    	li {
    		display: block;
    		padding: 1.5rem 0;
    		&.active {
    			color: white;
    			font-weight: 400;
    		}
    		a {
    			&:active, &:hover, &:focus {
					color: white;
				}
    		}
    	}
    	&.active {
			.mobile-menu {
				left: 11rem;
			}
			.lang-link a {
				right: -9rem;
			}
			ul {
				left: 0;
			}
    	}
    }
}

main {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	@media (max-width: 400px) {
		margin-top: 3rem;
		transition: left 0.5s;
		left: 0;
		&.active-menu {
			left: 10rem;
		}
	}
	> * {
		width: 100%;
		max-width: 40rem;
		margin: 0 auto;
		box-sizing: border-box;
		padding: 0 1rem;
		margin-bottom: 1rem;
	}
	h1 {
		max-width: 100%;
		padding: 0;
		height: 4rem;
		background: linear-gradient(to right, $green, $green 50%, $mint 50%, $mint);
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		margin-bottom: 2rem;
		box-sizing: content-box;
		img {
			display: block;
			margin: 0 auto;
			height: inherit;
			@media (max-width: 700px) and (min-width: 600px) {
				padding-right: 3rem;
			}
		}
		@media (max-width: 600px) {
			height: 2rem;
			border-top-width: 1px;
			border-bottom-width: 1px;
		}
	}
	h2 {
		font-size: 1.2em;
		font-weight: 900;
		text-transform: uppercase;
		color: $green;
		&:nth-of-type(2n+1){
			color: $mint;
		}
		@media (max-width: 400px) {
			font-size: 1em;
		}
	}
	a {
		color: inherit;
		text-decoration: none;
		border-bottom: 2px solid $green;
		&:hover, &:focus, &:active {
			color: $green;
		}
	}
	img {
		width: 100%;
	}
}
