$background: #0E2132;
$light-green: #bcb868;
$dark-green: #8f8938;

$adelle: "adelle-condensed", "Adelle Condensed", sans-serif;
$proxima: "proxima-nova-alt-condensed", "Proxima Nova Condensed", sans-serif;

html, body {
    background: $background;
    color: white;
    font-family: $proxima;
    font-weight: 300;
    font-size: 16pt;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

main {
    position: relative;
    margin: 10rem auto;
    max-width: 40rem;
    width: 100%;
}

#flowers-top-left {
    z-index: 0;
    position: absolute;
    top: -4.2rem;
    left: -4.7rem;
    width: 15rem;
}

#flowers-bottom-right {
    z-index: 0;
    position: absolute;
    bottom: -4.5rem;
    right: -4.9rem;
    width: 16rem;
}

.frame {
    z-index: 1;
    position: relative;
    border: .4rem solid white;
    padding: .4rem;

    @media (max-width: 40rem) {
        border: none;
        border-top: .4rem solid white;
        border-bottom: .4rem solid white;
        padding: .4rem 0;
    }
}

form {
    margin: 0;
    background: white;
    padding: 3rem;
    padding-top: 5rem;
    color: $background;

    h1 {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;

        .top {
            position: absolute;
            top: -4.8rem;
            left: 11rem;
            height: 3.8rem;
        }

        .bottom {
            margin: 1rem 3rem;
            color: $light-green;
            font-family: $proxima;
            font-size: 3rem;
            font-weight: 300;
            text-align: right;
        }
    }

    p {
        margin: 0 0 1rem 0;
    }

    a {
        position: relative;
        text-decoration: none;
        color: inherit;
        transition: color 0.1s;
        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            bottom: .1em;
            left: 0;
            width: 100%;
            height: .1em;
            background: $light-green;
            transition: color 0.1s;
        }

        &:hover, &:focus, &:active {
            text-decoration: none;
            color: $light-green;
            &::before {
                background: $background;
                height: .05em;
            }
        }
    }

    input[type="text"], input[type="email"] {
        background: none;
        border: none;
        font: inherit;
        border-bottom: .05rem solid $background;
    }

    label {
        cursor: pointer;
    }
}
